.modal-header
  button.close(type='button', data-dismiss='modal', aria-label='Close')
    span(aria-hidden='true') ×
  h4.modal-title Edit Basic Info
.modal-body
  form.form(action="/client-details", method="get", role="form", autocomplete="off" novalidate)#basic-info-form
    .row
      .col-xs-12.col-sm-6
        .grey-box
          .form-group
            label Last name
            input.form-control(type='text' name='lastName' value = '#{client.lastName}' required)
          .form-group
            label First name - Legal
            input.form-control(type='text' name='firstName' value = '#{client.firstName}' required)
          .form-group
            label First name - Preferred (if different)
            -if (client.preferredName)
              input.form-control(type='text' name='preferredName' value = '#{client.preferredName}')
            -else
              input.form-control(type='text' name='preferredName')
          .form-group
            label Birthdate
            -if (client.dateOfBirth)
              input.form-control(type='text' name='dateOfBirth' value = '#{client.dateOfBirth}').date-input
            -else
              input.form-control(type='text' name='dateOfBirth').date-input
          .form-group
            label Gender
            input.form-control(type='text' name='gender')
      .col-xs-12.col-sm-6
        .grey-box
          .form-group
            label Phone number
            -if (client.phoneNumber)
              input.form-control(type='phone' name='phoneNumber' maxlength=14 value= '#{client.phoneNumber}')#phone
            -else 
              input.form-control(type='phone' name='phoneNumber' maxlength=14)#phone
          .form-group
            label Email
            -if (client.email)
              input.form-control(type='text' name='email' value = '#{client.email}')
            -else
              input.form-control(type='text' name='email')
        .grey-box
          .form-group
            label Street Address
            -if (client.streetAddress)
              input.form-control(type='text' name='streetAddress' value = '#{client.streetAddress}')
            -else
              input.form-control(type='text' name='streetAddress')
          .form-group
            label City
            -if (client.city)
              input.form-control(type='text' name='city' value = '#{client.city}')
            -else
              input.form-control(type='text' name='city')
          .form-group
            label State
            -if (client.state)
              input.form-control(type='text' name='state' value = '#{client.state}')
            -else
              input.form-control(type='text' name='state')
          .form-group
            label Zip Code
            -if (client.zip)
              input.form-control(type='text' name='zip' value = '#{client.zip}')
            -else
              input.form-control(type='text' name='zip')
.modal-footer
  button.btn.btn-default(type='button', data-dismiss='modal') Close Without Saving
  button.btn.btn-primary(type='submit', form='basic-info-form') Submit Changes