.row.hidden-md.hidden-lg.topbar-client
  .col-xs-8.topbar-text
    h3 #{client.lastName}, #{client.firstName}
      small &nbsp;#{client.phoneNumber}
  .col-xs-4.topbar-menu
    .btn.dropdown-toggle.pull-right(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      |Client Pages 
      span.caret
    ul.dropdown-menu.dropdown-menu-right
      li#details-nav
        a(href='client-details/#{client.id}')
          i.glyphicon.glyphicon-list-alt
          |&nbsp;Details
      li#history-nav
        a(href='check-in-history/#{client.id}')
          i.glyphicon.glyphicon-ok
          |&nbsp;Check-in History
      li#notes-nav
        a(href='client-notes/#{client.id}')
          i.glyphicon.glyphicon-pencil
          |&nbsp;My Notes
      li.divider(role='separator')
      li#messaging-nav.disabled
        a(href='#')
          i.glyphicon.glyphicon-envelope
          |&nbsp;Messaging